.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 0px 0px 0px;
}



.Fond{
  width: 1000px;
  height: 400px;
  background-color: gray;
  border: 2px solid rgb(95 97 110);
  display: flex;
}


.FirstDigit{
  width: 200px;
  height: 300px;
  background-color: rgb(72, 72, 72);
  border: 2px solid rgb(95 97 110);
  margin: 50px 0px 0px 40px;
  display: float;
}
.SecondDigit{
  width: 200px;
  height: 300px;
  background-color: rgb(72, 72, 72);
  border: 2px solid rgb(95 97 110);
  margin: 50px 0px 0px 25px;
}
.ThirdDigit{
  width: 200px;
  height: 300px;
  background-color: rgb(72, 72, 72);
  border: 2px solid rgb(95 97 110);
  margin: 50px 0px 0px 50px;
}
.FourthDigit{
  width: 200px;
  height: 300px;
  background-color: rgb(72, 72, 72);
  border: 2px solid rgb(95 97 110);
  margin: 50px 0px 0px 25px;
}

.Branche1{
  margin: 10px 0px 0px 50px;
  width: 100px;
  height: 25px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche2{
  margin: 40px 0px 0px 10px;
  width: 25px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche3{
  margin: 40px 0px 0px 160px;
  width: 25px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche4{
  margin: 140px 0px 0px 50px;
  width: 100px;
  height: 25px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche5{
  margin: 160px 0px 0px 10px;
  width: 25px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche6{
  margin: 160px 0px 0px 160px;
  width: 25px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
.Branche7{
  margin: 265px 0px 0px 50px;
  width: 100px;
  height: 25px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5%;
  position: absolute;
}
